@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;
@inject UserManager<Users> userManager;

@if (signInManager.IsSignedIn(User))
{
    var user = await userManager.GetUserAsync(User);

    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Hello, @user.FullName</a>
	</li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
