@model IEnumerable<HomeOwner.Models.Announcement>


<head>
    <link rel="stylesheet" href="~/css/Announcements.css" />
</head>

<div class="announcements">
    <h2>Announcements</h2>
    <ul>
        @foreach (var announcement in Model)
        {
            <li>
                <h3>@announcement.Title</h3>
                <p>@announcement.Content</p>
                <p><small>@announcement.CreatedAt.ToString("MMMM dd, yyyy")</small></p>
            </li>
        }
    </ul>
</div>

